.app {
  text-align: center;
}

.header {
  padding: 20px;
}

.loader {
  padding: 40px;
}

.select {
  height: 36.5px;
  padding: 6px;
  margin: 5px;
  margin-top: 0px;
}

.filterButtonContainer {
  margin: 20px;
}

.totalCount {
  margin-bottom: 20px;
}

.results {
  margin: 10px;
}

.cardContainer {
  background: #e3e3e3;
  border-radius: 5px;
  padding: 5px;
}
